#nav-bar{
    background-color:beige;
    height: 200px;
    width: 100%;
    display: flex;
    align-content: center
}
#nav-text{ 
 
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    text-align: center; 
    flex-direction: column;
    
}
#section{
    display: flex;
}
#search-box{
    padding: 10em 10em 10em 10em;
   
}

